

  
  <!-- About Page -->
  <div class="vg-page page-about" id="about">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 py-3">
          <div class="img-place wow fadeInUp">
            <img src="assets/imgs/header.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1 wow fadeInRight">
          <h1 class="fw-light">Rita Sonavane</h1>
          <h5 class="fg-theme text mb-3" style="color: #F85C70;">Software Developer</h5>
          <p class="text-muted">Immediate Joiner, Looking for better opportunity as Software Developer with an MCS degree
            and 2 years of relevant experience as a Jr. Software Developer. With Key Skills - Angular, JavaScript,
            TypeScript, Node.js, PHP, Java and GIT.</p>
          <ul class="theme-list">
            <li><b>From:</b> Pune, Maharashtra</li>
            <li><b>Lives In:</b> Kharadi, Pune</li>
            <li><b>Contact:</b> +917249524272</li>
            <li><b>Age:</b> 24</li>
            <li><b>Gender:</b> Female</li>
          </ul>
          <a download="Rita Sonavane Resume"
          href="assets/imgs/Rita Sonavane Resume.pdf"
          ><button class="btn btn-theme-outline">Download CV</button></a>
        </div>
      </div>
    </div>
    
  </div>