  <!-- Start Footer -->
  <footer class="site-footer">
    <div class="container">
        <small class="copyright pull-left"> Designed & Developed by
            <a href="https://www.linkedin.com/in/rita-sonavane-2a8650217/" target="_blank">Rita Sonavane</a>.
            <!-- http://www.tabthemes.com/ -->
        </small>
        <div class="social-icon pull-right">
            <!-- <a href="https://www.facebook.com/profile.php?id=100094372854603"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/lashilken"><i class="fa fa-twitter"></i></a> -->
            <a href="https://github.com/Rita-Sonavane?tab=repositories" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/rita-sonavane-2a8650217/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <!-- <a href="https://www.youtube.com/channel/UCciMLVmnBZeQxSVynlWWHWQ"><i
                    class="fa fa-youtube-play"></i></a> -->
        </div>
        <!-- /social-icon -->
    </div>
    <!-- /container -->
</footer>
<!-- End Footer -->
